.music-list-filter {
    text-align: center;
}

.album-list {
    display: grid;
    margin: auto;
    width: 400px;
    grid-template-columns: 150px 150px;
}

.album {
    margin: 10px;
    background-color: #fff;
    box-shadow: 1px 0.5px 5px 1px hsla(0,0%,39.2%,.5);
    border: 1px solid #bfc0bf;
    list-style-type: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}